*{
    color:#dfa417;
}

.app{
    width:80%;
    margin: 0 auto;
    position: fixed;
    top:50%;
    left:50%;
    transform: translate(-50%,-50%);
}

button{
    position: relative;
    top:75%;
    left:80%;
    transform: translate(-50%,-50%);
    border:none;
    padding:1em 2em;
    border-radius:8px;
    background: #c31432;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #240b36, #c31432);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #240b36, #c31432); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    color:#fff;
    text-transform: uppercase;
    cursor: pointer;
}

 
