*{
    color:#dfa417;
}


button{
    position:absolute;
    top:75%;
    left:80%;
    transform: translate(-50%,-50%);
}

button{
    border:none;
    padding:1em 2em;
    background: #c31432;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #240b36, #c31432);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #240b36, #c31432); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    color:#fff;
    text-transform: uppercase;
    cursor: pointer;
}

 
